name: Docker CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      # 1. Faz Login no Docker Hub usando as chaves que você criou
      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 2. Prepara o motor de build avançado
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. Constrói a imagem e EMPURRA (push) para o Docker Hub
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # AQUI: Seu usuário e nome da imagem
          tags: augustodockers/minha-api:latest, augustodockers/minha-api:${{ github.sha }}